/* CSS Document */


.right_title {
	width:600px;
	font-size:20px;
	color:#064481;
	font-weight:bold;
    text-align: center;
	padding-top: 20px;
	margin:0 auto;
}

.right_title_contact{
	font-size:20px;
	color:#215bbb;
	font-weight:bold;
	padding-top: 20px;
	height:50px;
	line-height:50px;
	padding: 10px 40px 10px 40px;
	margin:0 auto;
}

.right_content_contact {
	padding: 0px 40px 30px 40px;
	font-size: 12px;
	
}

.right_content {
	TEXT-INDENT: 2em;
	padding: 10px 40px 30px 40px;
	font-size: 12px;
	
}
.content3_time {;
	color: #666;
	font-size: 12px;
    text-align:center;
	padding-top: 10px;
	font-weight: normal;
}