/* CSS Document */
#content2_left{
	width:1000px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	margin-top:3px;
	margin-bottom:20px;
	background-color:#ebebeb;
	/*background-image: url(../img/contentback.gif);
    background-position: left top;
    background-repeat: no-repeat;*/
}

#content2_head{
	width:1000px;
	padding-bottom:5px;
	background-color:#FFF;
}

.list_left{
	width:220px;
	/*height:600px;*/
	line-height:30px;
	padding:10px 0px 10px 0px;
	/*border:1px solid #CCC;
	border-radius:5px;
	border-top-right-radius:0px;
	border-bottom-right-radius:0px;
	border-right:none;*/
	float:left;
}



#left_content ul li{
	height:50px;
	line-height:50px;
	margin:2px 10px 0px 10px;
	border-bottom:1px solid #c0c0c0;
	text-align:left;
}

#left_content a{
	font-weight:bold;
	color:#215bbb;
	display:block;
}

#left_content a:hover{
	background-color:#edf5fc;	
}


.list_right{
	background-color:#FFF;
	width:755px;
	line-height:30px;
	float:left;
	-webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 0 6px rgba(0, 0, 0, 0.2);
  	box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 0 6px rgba(0, 0, 0, 0.2);
	margin:15px 0px 20px 5px;
	position:relative
}

#right_head{
	line-height:50px;
	padding-top:10px;
	margin:10px 10px 0px 10px;
	padding-left:15px;
	font-family: "microsoft yahei";
}

#right_head a{
	color: #666;
}

#right_head a:hover{
	color: #F00;
}

#right_title{
	font-size:20px;
	color:#215bbb;
	font-weight:bold;
	padding:15px 0px 5px 40px;
	/*border-bottom:1px dashed #CCCCCC;*/
	margin:0px 10px 0px 10px;
}
#right_content{
	margin:10px 70px 50px 50px;
	width:660px;
	border:1px solid #ccc;
	background-color:rgb(247, 247, 247);

}
#right_content li a{
	white-space:nowrap;
}
#right_content ul li{
	width:620px;
	height:30px;
	overflow:hidden;
	display:block;
	text-overflow:ellipsis;
	padding-left:15px;
	background-image:url(../img/2ji_list.jpg);
	background-position:left;
	background-repeat:no-repeat;
	margin:2px 10px 0px 10px;
	text-align:left;	
}
