@CHARSET "UTF-8";
ul,li{  list-style:none;}

a {  
	color:#000000;
	text-decoration: none;
}
a:hover {
	color:#F00;
}
#box {
	margin: 0 auto;
	width: 1000px;
	padding-top:20px;
	padding-bottom:20px;
}
.left1 {
	float:left;
	background: #fff;
	width: 480px;
}
.right {
	float:right;
	width: 530px;
}
.title {
	border-bottom: solid 1px #666;
    padding-top: 8px;
    padding-left:5px;
    display: block;
    height: 35px;
    width: 520px;
    word-wrap: break-word;
}
.right li a{
	color:#666;
	background: url(../img/tb.jpg) no-repeat 5px center;
	padding-left: 25px;
	padding-right:5px;
	width:460px;
}
.right li a:hover {
	color:#000;
}
.right ul {
	padding-top:10px;
	padding-bottom:15px;
}
.right li{
	width:530px; 
	line-height:30px; 
	font-size:12px;

}
.left1 li a{
	color:#666;
	background: url(../img/tb.jpg) no-repeat 5px center;
	padding-left: 25px;
	width:390px;
}
.left1 ul {
	padding-top:10px;
	padding-bottom:15px;
}
.left1 li{
	width:480px; 
	line-height:30px; 
	font-size:12px;
}
.left1 .title{
	width: 470px;
}
#right1{
	padding-left:40px;
}
.time{ 
	width:70px; 
	float:right; 
	display:block; 
	height:30px;
	color:#666;
}
.focus{
	margin-top:25px;
	margin-bottom:52px;
	width:420px;
	height:350px;
	float:left;
	border:3px solid #d9d9d9;
	position:relative;
}
.focus #pic{
	width:420px;
	height:350px;
	overflow:hidden;
}
.focus #pic ul{
	width:4000px;
	height:350px;
	float:left;
}
.focus #pic li{
	width:420px;
	height:350px;
	float:left;
}
.focus #pic li img{
	width:420px;
	height:350px;
	float:left;
}
.focus #pic li p{
	width:420px;
	height:35px;
	float:left;
}
.focus .tip-bg{
	width:420px;
	height:21px;
	background:#000;
	filter:alpha(opacity=80);
	opacity:0.80;
	position:absolute;
	left:0;
	margin-top:-21px;
	z-index:12;
}
.focus #tip{
	width:96px;
	height:14px;
	position:absolute;
	left:40%;
	margin:-17px 0 0;
	z-index:13;
}
.focus #tip ul li{
	width:14px;
	height:14px;
	float:left;
	display:inline;
	margin:0 5px;
	cursor:pointer;
	background:url(../img/focus_tip.png) no-repeat;
}
.focus #tip ul li.current{
	background:url(../img/focus_tip_current.png) no-repeat;
}
.focus .show{
	display:block!important;
}
.pic_title{ 
	width:420px; 
	height:50px; 
	font-size:12px; 
	line-height:50px; 
	text-align:center;
	margin-top:350px;
	position:absolute;
	color:#666;
}