@CHARSET "UTF-8";
ul,li{  list-style:none;}

a {  
	color:#000000;
	text-decoration: none;
}
img {
	border:none;
}
a:hover {
	color:#F00;
}
#box {
	margin: 0 auto;
	width: 1000px;
	padding-top:20px;
	padding-bottom:20px;
}
.left1 {
	float:left;
	background: #fff;
	width: 480px;
}
.right {
	float:right;
	width: 530px;
}
.title {
	border-bottom: solid 1px #006;
    padding-top: 8px;
    padding-left:5px;
    display: block;
    height: 35px;
    width: 520px;
    word-wrap: break-word;
    color: #006;
}
.right li a{
	color:#666;
	background: url(../img/tb.jpg) no-repeat 5px center;
	padding-left: 25px;
	padding-right:5px;
	width:450px;
}
.right li a:hover {
	color:#009;
}
.right ul {
	padding-top:10px;
	padding-bottom:15px;
}
.right li{
	width:530px; 
	line-height:30px; 
	font-size:12px;
}
.left1 li a{
	color:#555;
	background: url(../img/tb.jpg) no-repeat 5px center;
	padding-left: 25px;
	width:390px;
}
.left1 li a:hover {
	color:#009;
}
.left1 ul {
	padding-top:10px;
	padding-bottom:15px;
}
.left1 li{
	width:480px; 
	line-height:30px; 
	font-size:12px;
}
.left1 .title{
	width: 470px;
}
#right1{
	padding-left:40px;
}
.time{ 
	width:70px; 
	float:right; 
	display:block; 
	height:30px;
	color:#666;
}
.focus{
	width:994px;
	height:300px;
	float:left;
	border:3px solid #d9d9d9;
	position:relative;
}
.focus #pic{
	width:994px;
	height:300px;
	overflow:hidden;
}
.focus #pic ul{
	width:8000px;
	height:300px;
	float:left;
}
.focus #pic li{
	width:994px;
	height:300px;
	float:left;
}
.focus #pic li img{
	width:994px;
	height:300px;
	float:left;
}
.focus #pic li p{
	width:994px;
	height:35px;
}
.tip-bg{
	width:994px;
	height:21px;
	left:0;
	margin-top: 10px;
	margin-bottom: 10px;
}
#tip{
	width:110px;
	height:14px;
	margin: 0 auto;
}
#tip ul li{
	width:14px;
	float:left;
	height:14px;
	margin:0 5px;
	background:url(../img/focus_tip.png) no-repeat;
}
#tip ul li.current{
	background:url(../img/focus_tip_current.png) no-repeat;
}
.show{
	display:block!important;
}
.pic_title{ 
	width:420px; 
	height:50px; 
	font-size:12px; 
	line-height:50px; 
	text-align:center;
	color:#666;
	margin-top:350px;
}
.right_span{
	float:left;
	width: 450px;
}
.left_span{
	float:left;
	width: 390px;
}
.left2{
	float:left;
}
.input_ser{
	box-shadow: none;
	width: 350px;
	height: 29px;
	border: 1px solid #C5C5C5;
	border-right: none;
	padding-left: 8px;
	_line-height: 29px;
}

.input_sub {
	box-shadow: none;
	width: 60px;
	height: 31px;
	float: left;
	display: block;
	border-left: none;
	border: 0px;
	font-family: Microsoft YaHei;
	background-color: #004080;
	color: #FFF;
}
table {
	margin-bottom: 20px;
		margin-top: 9px;
}