/* CSS Document */
*{
	margin:0;
	padding:0;
}
body{
	width:100%;
	background: none repeat scroll 0 0 #FFFFFF;
    color: #555;
    font: 12px/140% Arial,"宋体",Helvetica,sans-serif,Verdana;
}
img{
	border:none;
}

ul li{
	list-style-type:none;
}

.clear {
	clear:both;
	height:0px;
	overflow:hidden;
}

#whole{
	width:1000px;
	margin:0 auto;
}

a{
	text-decoration: none;
}

.en_top{
	margin-bottom:20px;
}

#top_l{
	padding-top:10px;
	width:102px;
	height:95px;
	float:left;
}

#top_r{
	width:898px;
	height:105px;
	background-repeat:no-repeat;
	background-image:url(../img/top_b2.gif);
	float:left;
}

.top_rr{
	padding:35px 50px 0 0;
	float:right;
	
}

.top_rr a{
	color:#333;
}

.top_rr a:hover{
	color: #F00;
}

.left_navi{
	width:30%;
	float:left;
}

.right_content{
	width:70%;
	float:left;
}

.right_content_home{
	width:70%;
	float:left;
}

.right_content ul{
	padding:20px 0 0 10px;
	font-size:14px;
}

.right_content ul li a{
	color: #555;
}

.right_content ul li a:hover{
	color: red;
}

.right_content ul li {
	width:650px;
	height:30px;
	display: block;
	padding-left: 15px;
	background-image: url(../img/2ji_list.jpg)!important;
	background-position: left;
	background-repeat: no-repeat;
	margin: 2px 10px 0px 10px;
	text-align: left;
	text-overflow: ellipsis;
	overflow:hidden;
}

.en_navi{
	height:31px;
	line-height:31px;
	text-align:left;
	margin:0 10% 6px 0;
	border:1px solid #d3e4fe;
}

.en_navi a{
	display: block;
	color: #064481;
	font-size:14px;
	padding-left:12px;
	background-image:url(../img/dh_en.jpg);
}

.en_navi a:hover{
	background:#064481;
	color:#fff;
}
#en_video{
	float:left;
}
#video_title{
	color: #064481;
	line-height:50px;
	text-align:center;
	font-size:24px;
	font-family:FZShuTi;
	font-weight:bold;
	margin-top:6px;
}
.flash_en{
	padding-left:5%;
}

.content_list{
	width:520px;
	height:30px;
	display:block;
	overflow:hidden;
	line-height:30px;
	text-overflow:ellipsis;
	float:left; 
}

.content_time{
	width: 75px;
	float: right;
	line-height:30px;
	display: block;
	height: 30px;
	color: #666;
}

.en_right_title{
	width: 600px;
	font-size: 20px;
	color: #064481;
	font-weight: bold;
	text-align: center;
	padding-top: 20px;
	margin: 0 auto;
}

.en_content3_time{
	color: #666;
	font-size: 12px;
	text-align: center;
	padding-top: 10px;
	font-weight: normal;
}

.en_right_content{
	padding: 20px 20px 30px 20px;
	font-size: 14px;
	line-height:25px;
}
