
.focus_r{
	width:700px;
	height:250px;
	float:left;
	position:relative;
}
.focus_r #pic_r{
	width:700px;
	height:250px;
	overflow:hidden;
}
.focus_r #pic_r ul{
	width:8000px;
	height:250px;
	float:left;
}
.focus_r #pic_r li{
	width:700px;
	height:250px;
	float:left;
}
.focus_r #pic_r li img{
	width:700px;
	height:250px;
	float:left;
}
.tip-bg_r{
	width:700px;
	height:21px;
	left:0;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align:center;
}
#tip_r{
	width:110px;
	height:14px;
	margin: 0 auto;
	text-align:center;
}
#tip_r ul li{
	width:14px;
	float:left;
	height:14px;
	margin:0 5px;
	background:url(../img/focus_tip.png) no-repeat;
}
#tip_r ul li.current{
	background:url(../img/focus_tip_current.png) no-repeat;
}
.intro_title{
	color: #064481;
	line-height:50px;
	font-size:24px;
	font-family:FZShuTi;
	font-weight:bold;
}
#introduction{
	float:left;
	width:50%;
	text-align:center;
}
#news{
	float:left;
	width:50%;
	text-align:center;
}
#intro_content{
	float:left;
	width:50%;
	font-size:14px;
	line-height:20px;
	
}
.en_a{
	width:100%;
	height:30px;
	display:block;
	padding:10px 10px 10px 10px;
	color:#000;
	text-decoration: none;
}

.over_a{
	overflow:hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

}

.en_a:hover{
	background:#f1eeee;
}
#news_content{
	width:40%;
	padding-left:10px;
	float:left;
	font-size:14px;
	text-align:left;
}
#photos_title{
	padding-top:50px;
	_padding-top:0px !important;
	color: #064481;
	line-height:50px;
	text-align:center;
	font-size:24px;
	font-family:FZShuTi;
	font-weight:bold;
}
#photos{
	
}
#photos img{
	padding:10px 10px 10px 10px;
}
.group_left {
	color:#064481;
	line-height:30px;
	font-size:20px;
	padding-bottom:5px;
}
.group_right {
	font-size:14px;
}
.group {
	padding-top:10px;
	padding-bottom:15px;
}
.content_format {
	line-height:30px;
	padding:10px 0 30px 10px;
}
.page {
	text-align:center; 
	font-size:16px;
	margin:0 0 20px 0;
}
.page a {
	color:#000;
	font-size:16px;
}
.page a:hover {
	color:#424;
}
#news_content li{
	list-style:none;
	height:30px;
}

.intr_news{
	padding-bottom:50px;
	_padding:0px !important;
	_margin-bottom:-40px;
}