/* CSS Document */
*{
	margin:0;
	padding:0;
}
body{
	width:100%;
	background: none repeat scroll 0 0 #FFFFFF;
    color: #555;
    font: 12px/140% Arial,"宋体",Helvetica,sans-serif,Verdana;
}
.middle{
	margin:0 auto;
}

.clear {
	clear:both;
	height:0px;
	overflow:hidden;
}

.whole{
	width:1000px;
}

a{
	text-decoration: none;
}

.en_top{
	margin-bottom:20px;
}

#top_l{
	padding-top:10px;
	width:102px;
	height:95px;
	float:left;
}

#top_r{
	width:898px;
	height:105px;
	background-repeat:no-repeat;
	background-image:url(../img/top_b2.gif);
	float:left;
}

.top_rr{
	padding:35px 50px 0 0;
	float:right;
	
}

.top_rr a{
	color:#333;
}

.top_rr a:hover{
	color: #F00;
}

.left_navi{
	width:30%;
	float:left;
}

.right_content{
	width:70%;
	float:left;
}

.right_content ul{
	padding:20px 0 0 10px;
}

.en_navi{
	height:31px;
	line-height:31px;
	text-align:left;
	margin:0 10% 6px 0;
	border:1px solid #d3e4fe;
}

.en_navi a{
	display: block;
	color: #064481;
	font-size:14px;
	padding-left:12px;
	background-image:url(../img/dh_en.jpg);
}

.en_navi a:hover{
	background:#064481;
	color:#fff;
}
#en_video{
	float:left;
}
#video_title{
	color: #064481;
	line-height:50px;
	text-align:center;
	font-size:24px;
	font-family:FZShuTi;
	font-weight:bold;
	margin-top:6px;
}
#flash_en{
	padding-left:5%;
}
.content_list{
	width:620px;
	display:block;
	overflow:hidden;
	text-overflow:ellipsis;
	float:left; 
}