/* CSS Document */
.right_group{
	width:735px;
	margin:15px 10px 20px 10px ;
	padding-left:15px;
}

.right_group_p{
	float:left;
}

.right_group_p_more{
	float:left;
	margin:18px 10px 0 10px;
	padding-left:15px;
}

.right_group_c{
	line-height:20px;
	width:500px;
	float:left;
	margin:0 0 0 10px;
}

.group_title{
	float:left;
	padding:0px 0 0 10px;
	font-size:12px;
	font-weight:bold;
	
}

.group_time{
	float:left;
	padding:0px 0 0 10px;
	font-size:12px;
	color:#666;
}

.group_content{
	overflow: hidden;
	text-overflow: ellipsis;
	TEXT-INDENT: 2em;
	width:560px;
	height:150px;
	float:left;
	padding:0 30px 0 10px;
	font-size:12px;
	
}

.page{
	text-align:center;
	font-size:12px;
}