/* CSS Document */
*{
	margin:0;
	padding:0;
}

body{
	background: none repeat scroll 0 0 #FFFFFF;
    color: #5A5A5A;
    font: 12px/140% Arial,"宋体",Helvetica,sans-serif,Verdana;
}

.middle{
	margin:0 auto;
}

.clear {
	clear:both;
	height:0px;
	overflow:hidden;
}

.f_left{
	float:left;
}

#head{
	width:1000px;
	margin-top:10px;
	
}

#head_l{
	width:102px;
	height:110px;
	background-repeat:no-repeat;
	background-image:url(../img/top_a01.jpg);
	float:left;
}

#head_r{
	width:898px;
	height:110px;
	background-repeat:no-repeat;
	background-image:url(../img/top_b.gif);
	float:left;
}

.head_tab{
	width: 420px;
	cellpadding: 0;
	cellspacing: 0;
	color:#000;	
	float:right;
	padding-top:30px;
}

.head_td{
	border-top-style: none;
	border-right-width: 1px;
	border-right-color: #000;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: none;
	padding-left:10px;
	padding-right:8px;
}

.head_td2{
	border: none;
	padding-left:10px;
}

#navi{
	/*height:50px;*/
	background-image:url(../img/dbj.jpg);
	background-repeat:repeat-x;
	font-size:14px;
	font-weight:nomal;
}

#navi ul{
	width:1000px;
}

#navi li{
	list-style-type: none;
	color:#FFF;
	width:10%;
	height:50px;
	line-height:50px;
    text-align: center;
	padding:0;
}

#navi a{
	color:#FFF;
	text-decoration: none;
	display:block;
}

/*#navi ul li ul{
	display:none;
	z-index:1000;
}

#navi ul li ul li{
	height:30px;
}



#navi ul li:hover ul { 
display: block; 
position: absolute; 
}

#navi ul li:hover ul li a{
	display: block;
	background-color: #333;
	color: #FFF !important;
	font-weight: normal;
	font-size: 12px !important;
	line-height: 30px !important;
	text-decoration: none;
	overflow: hidden;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	white-space: nowrap;
	width: 98px;
}

#navi ul li:hover ul li a:hover {
	background-color: #CCCCCC !important;
	color: #000000 !important;
}*/

#foot{
	background-image:url(../img/foot_bg.jpg);
	background-repeat:repeat-x;
	width:100%;
	height:81px;
}

.foot1{
	padding-top:15px;
	text-align:center;
	color:#FFF;
	font-size:11px;
}

.naviout {
	position:absolute;
    z-index:1000;
	background:#F0F0F0;
    display:none;
}

.naviout a {
	display: block;
	color: #666;
	font-size: 12px;
	line-height: 30px;
	text-decoration: none;
	text-align: left;
	padding:0 20px;
}

.naviout a:hover{
	background: #CCC;
}

.navi_hover {
	background-image:url(../img/dhover.jpg);
	background-repeat:repeat-x;
}
.navi_hover a {
	color: #555!important;
}
	